# ±÷”
NET "CLK" LOC = P56;


##KEY
#NET "KEY2" LOC = P21;
#NET "KEY1" LOC = P17;
#NET "KEY4" LOC = P16;
#NET "KEY3" LOC = P15;
#
##UART
#NET "TXD" LOC = P14;
#NET "RXD" LOC = P12;
#
##BEEP
#NET "BP1" LOC = P11;




#LED
NET "LED_1" LOC = P95;
NET "LED_3" LOC = P94;
NET "LED_2" LOC = P98;
NET "DP" LOC = P85;
NET "LED_4" LOC = P97;

NET "ADCSN" LOC=P61;
NET "ADCLK" LOC=P55;
NET "ADDAT" LOC=P59;


#DIGITAL CUBE
#NET "DS_DP" LOC =P85;
NET "DS_G" LOC = P84;
NET "DS_C" LOC = P83;
NET "DS_D" LOC = P82;
NET "DS_E" LOC = P81;
NET "DS_A" LOC = P80;
NET "DS_B" LOC = P79;
NET "DS_F" LOC = P78;

NET "DS_EN1" LOC = P66;
NET "DS_EN2" LOC = P74;
NET "DS_EN3" LOC = P67;
NET "DS_EN4" LOC = P75;
#
#NET "DNC" LOC = P22;
#
#
#NET "EXT_P" LOC = P58;
#NET "EXT_N" LOC = P57;




